.code{
    font-family: 'Courier New', Courier, monospace;
    color: $gray-dark;
    font-size: 0.85rem;
}

.alert{
    padding:2px;
    border:2px solid $red;
    background-color: lighten($red, 25%);
    margin:16px;
    border-radius: 6px;
    p{
        color:$gray-dark;
        font-weight: 700;
        font-size: 1.25rem ;
    }
}