// Monochromatic Colors
$primary1: #393560;
$primary2: #433e70;
$primary3: #4d4781;
$primary4: #575091;
$primary5: #6159a1;
$primary6: #6f68ac;
$primary7: #7f79b5;

$primary-darker: $primary1;
$primary-dark: $primary2;
$primary-normal-dark: $primary3;
$primary-normal: $primary4;
$primary-normal-light: $primary5;
$primary-light: $primary6;
$primary-lighter: $primary7;

// Triadic Color
$green: #509157;
$normal: #575091;
$red: #eb4848;

$white: #fff;
$black: #000;
$gray-light: #ccc;
$gray-dark: #333;
$lighter:#efefef;
$darker: #1c1c1c;